<a href="https://colab.research.google.com/github/fvancan/Python/blob/main/Projeto_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importar a base de dados

In [6]:
import pandas as pd # Importa arquivo do EXCEL

# Le o arquivo EXCEL que está no GDrive e importa para a variável, o caminho foi adicionado com Cópia e Cola
tabela_vendas = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Vendas.xlsx") 

# Exibe o conteúdo do EXCEL
display(tabela_vendas)

        Código Venda       Data  ... Valor Unitário Valor Final
0                  1 2019-01-01  ...            358         358
1                  1 2019-01-01  ...            180         360
2                  1 2019-01-01  ...            368         368
3                  2 2019-01-02  ...            200         600
4                  2 2019-01-02  ...             71          71
...              ...        ...  ...            ...         ...
100994         69996 2019-12-26  ...            102         204
100995         69996 2019-12-26  ...            270        1080
100996         69996 2019-12-26  ...             87          87
100997         69997 2019-12-26  ...            108         108
100998         69997 2019-12-26  ...            133         266

[100999 rows x 7 columns]

Calcular o faturamento de cada loja

In [8]:
tabela_faturamento = tabela_vendas[["ID Loja", "Valor Final"]]
display (tabela_faturamento )

                           ID Loja  Valor Final
0               Iguatemi Esplanada          358
1               Iguatemi Esplanada          360
2               Iguatemi Esplanada          368
3                   Norte Shopping          600
4                   Norte Shopping           71
...                            ...          ...
100994  Center Shopping Uberlândia          204
100995  Center Shopping Uberlândia         1080
100996  Center Shopping Uberlândia           87
100997           Ribeirão Shopping          108
100998           Ribeirão Shopping          266

[100999 rows x 2 columns]